.tasks{
    width: 100%;
    .task{
        position: relative;
        width: 100%;
        display: flex;
        box-sizing: border-box;
        padding: 20px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        div{
            font-size: 16px;
        }
        .body{
            word-wrap: break-word;
            overflow-wrap: break-word;
            width: 100%;
            max-width: calc(100% - 100px - 70px);
            padding-right: 10px;
            box-sizing: border-box;
        }
        .duration{
            min-width: 100px;
        }
        .timer{
            min-width: 70px;
            text-align: end;
            color: rgba(84, 124, 251, 1);
        }
        .stop-timer{
            width: 24px;
            height: 24px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: none;
        }
        .start-timer{
            width: 24px;
            height: 24px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: none;
        }
    }
    .completed{
        .body{
            color: rgba(122, 122, 122, 1);
            text-decoration: line-through;
        }
    }
    .current{
        cursor: grab;
    }
    .current:hover{
        .timer{
            display: none;
        }
        .start-timer{
            position: absolute;
            top: 19px;
            right: 0px;
            display: flex;
            button{
                position: absolute;
                right: 0;
            }
        }
        .stop-timer{
            position: absolute;
            top: 17px;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: end;
        }
    }
}
@media(max-width:768px){
    .tasks{
        .task{
            flex-direction: column;
            .body{
                max-width: 100%;
            }
            .duration{
                margin-top: 11px;
            }
            .timer{
                margin-top: -19px;
            }
        }
        .current{
            .body{
                padding-right: 30px;
            }
            .start-timer{
                top:19px;
                position: absolute;
                display: block;
                right: 30px;
            }
            .stop-timer{
                top: 17px;
                right:0;
                position: absolute;
                display: block;
            }
        }
        .current:hover{
            .start-timer{
                top:19px;
                position: absolute;
                display: block;
                right: 32px;
            }
            .stop-timer{
                top: 17px;
                right:0;
                position: absolute;
                display: block;
            }
            .timer{
                display: block;
            }
        }
        .potential{
                border-bottom: 1px solid rgba(84, 124, 251, 1);
        }
    }
}