.create-bar{
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-right: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    position: relative;
    align-items: center;
    input{
        box-sizing: border-box;
        padding-right: 45px;
    }
    .create-button{
        position: absolute;
        top:9px;
        right: 54px;
    }
    .play-button{
        position: absolute;
        top:9px;
        right: 0px
    }
}